@{
    ViewBag.Title = "About";
}

<div class="col-12">
    <div id="aboutconscious">
        <h3>
            Conscious Connections allows people to effortlessly find and review products that are
            sustainable to the environment while supporting socially conscious businesses.
        </h3>
    </div>
</div>
