@{
    ViewBag.Title = "Contact";
}

<div class="col-12">
    <div id="aboutconscious">
        <h3>
            Conscious Connections Drive<br />
            Indianapolis, IN 46280<br />
            317.555.0110<br /> <br />
            Reach out Today <br />
        </h3>
        <h4>
            <a href="mailto:support@consciousconnections.com">support@consciousconnections.com</a><br />
            <a href="mailto:marketing@consciousconnections.com">marketing@consciousconnections.com</a>
        </h4>
    </div>
</div>



