@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Conscious Connections</h1>
        <h4> @Html.ActionLink("View Products Now", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })</h4>
    </div>
</div>

